.-uppercase {
  text-transform: uppercase; }

.-box {
  box-sizing: border-box; }

.-gray-to-color {
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  z-index: 1; }
  .-gray-to-color:after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0;
    transition: opacity 0.3s ease; }
  .-gray-to-color:hover:after {
    opacity: 1; }

body {
  -moz-osx-font-smoothing: grayscale;
  min-width: auto; }

a.-home-primary {
  font-size: 16px;
  color: #fff;
  transition: all 0.3s ease;
  line-height: 12px; }
  a.-home-primary:hover {
    color: #FF6545; }

.separator {
  height: 4px;
  margin-top: 10px;
  margin-bottom: 16px; }
  @media only screen and (max-width: 480px) {
    .separator {
      margin-top: 8px;
      margin-bottom: 8px; } }
  .separator.-orange {
    background-color: #FF6545; }
  .separator.-orange-2 {
    background-color: #FBC13D; }
  .separator.-green {
    background-color: #44BFA3; }

.container {
  width: 1120px; }
  @media only screen and (max-width: 480px) {
    .container {
      max-width: 312px;
      width: 100%; } }

@media only screen and (max-width: 480px) {
  .content {
    max-width: 312px;
    width: 100%; } }

.grid {
  display: none;
  width: 1120px;
  margin: 0 auto;
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .grid .grid-holder {
    margin-left: -16px;
    margin-right: -16px;
    height: 100%; }
  .grid .g {
    width: 64px;
    margin: 0 16px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    float: left; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.nav {
  position: absolute;
  height: 105px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 0 40px;
  z-index: 3; }
  @media only screen and (max-width: 480px) {
    .nav {
      justify-content: center; } }
  .nav.fixed {
    position: fixed;
    top: 0;
    height: 64px;
    background-color: #472983;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: fadeIn; }
    .nav.fixed .nav-buttons .sign-up {
      display: block; }
    .nav.fixed .logo {
      height: 30px;
      width: auto; }
  .nav--logo {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s ease; }
    .nav--logo .logo-codefights {
      line-height: 40px; }
    .nav--logo:hover {
      color: #FF6545; }
  @media only screen and (min-width: 481px) {
    .nav--xs {
      display: none; } }
  .nav .nav-signup {
    margin-right: 16px;
    display: none; }
  .nav .nav-links {
    margin-right: 62px; }

section,
footer {
  position: relative; }

b, strong {
  font-weight: 700; }

section {
  box-sizing: border-box; }
  section h1 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7); }
    @media only screen and (max-width: 480px) {
      section h1 {
        font-size: 20px;
        line-height: 26px; } }
  section .content {
    max-width: 850px; }
  section .section-intro {
    font-size: 16px;
    line-height: 24px; }
    @media only screen and (max-width: 480px) {
      section .section-intro {
        font-size: 12px;
        line-height: 22px; } }

section.home-section {
  background: #490481;
  background-image: url(../img/homepage/home-section-particles@2x.png), url(../img/homepage/home-section-circle@2x.png), linear-gradient(43deg, #490481 0%, #453782 100%);
  background-size: 1116px 528px, 411px 413px, cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 733px;
  max-height: 100%; }
  @media only screen and (max-width: 480px) {
    section.home-section {
      background-image: url(../img/homepage/home-section-circle@2x.png), linear-gradient(43deg, #490481 0%, #453782 100%);
      background-size: 256px 257px, cover;
      height: 420px;
      padding: 20px; } }
  section.home-section .content {
    width: 840px; }
    section.home-section .content h1 {
      font-size: 48px;
      line-height: 64px; }
      @media only screen and (max-width: 480px) {
        section.home-section .content h1 {
          font-size: 28px;
          line-height: 36px; } }
    section.home-section .content .home-intro {
      font-size: 24px;
      font-weight: 300;
      line-height: 32px; }
      @media only screen and (max-width: 480px) {
        section.home-section .content .home-intro {
          font-size: 16px;
          line-height: 24px; } }
    section.home-section .content .sign-up {
      font-size: 24px;
      line-height: 32px; }

section.media {
  height: 106px;
  background-color: #EEEBF2; }
  @media only screen and (max-width: 480px) {
    section.media {
      display: block;
      overflow-y: scroll;
      height: 60px; } }
  section.media .media--container {
    height: 100%; }
    @media only screen and (max-width: 480px) {
      section.media .media--container {
        width: 538px;
        max-width: none;
        padding: 20px; } }
  section.media .media-logo img {
    width: 100%; }
  section.media .media-logo.-cnn {
    width: 142px;
    height: 28px;
    background-image: url(../img/media-logos/gray/cnn@2x.png); }
    section.media .media-logo.-cnn:after {
      background-image: url(../img/media-logos/color/cnn@2x.png); }
    @media only screen and (max-width: 480px) {
      section.media .media-logo.-cnn {
        width: 71px;
        height: 14px; } }
  section.media .media-logo.-techcrunch {
    width: 143px;
    height: 19px;
    background-image: url(../img/media-logos/gray/tech-crunch@2x.png); }
    section.media .media-logo.-techcrunch:after {
      background-image: url(../img/media-logos/color/tech-crunch@2x.png); }
    @media only screen and (max-width: 480px) {
      section.media .media-logo.-techcrunch {
        width: 71px;
        height: 9px; } }
  section.media .media-logo.-forbes {
    width: 91px;
    height: 24px;
    background-image: url(../img/media-logos/gray/forbes@2x.png); }
    section.media .media-logo.-forbes:after {
      background-image: url(../img/media-logos/color/forbes@2x.png); }
    @media only screen and (max-width: 480px) {
      section.media .media-logo.-forbes {
        width: 45px;
        height: 12px; } }
  section.media .media-logo.-businessinsider {
    width: 95px;
    height: 38px;
    background-image: url(../img/media-logos/gray/business-insider@2x.png); }
    section.media .media-logo.-businessinsider:after {
      background-image: url(../img/media-logos/color/business-insider@2x.png); }
    @media only screen and (max-width: 480px) {
      section.media .media-logo.-businessinsider {
        width: 48px;
        height: 19px; } }
  section.media .media-logo.-fastcompany {
    width: 134px;
    height: 20px;
    background-image: url(../img/media-logos/gray/fast-company@2x.png); }
    section.media .media-logo.-fastcompany:after {
      background-image: url(../img/media-logos/color/fast-company@2x.png); }
    @media only screen and (max-width: 480px) {
      section.media .media-logo.-fastcompany {
        width: 67px;
        height: 10px; } }
  section.media .media-logo.-venturebeat {
    width: 157px;
    height: 20px;
    background-image: url(../img/media-logos/gray/venture-beat@2x.png); }
    section.media .media-logo.-venturebeat:after {
      background-image: url(../img/media-logos/color/venture-beat@2x.png); }
    @media only screen and (max-width: 480px) {
      section.media .media-logo.-venturebeat {
        width: 78px;
        height: 10px; } }

section.fun {
  background-color: #fff;
  overflow: hidden; }
  section.fun .fun--container {
    height: 466px; }
    section.fun .fun--container img {
      position: relative;
      opacity: 0;
      transition-duration: 0.3s; }
      section.fun .fun--container img.ide-left {
        bottom: -73px;
        transform: translateX(-1000px); }
      section.fun .fun--container img.ide-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        bottom: -12px; }
      section.fun .fun--container img.ide-right {
        bottom: -101px;
        transform: translateX(1000px); }
    section.fun .fun--container.-visible img {
      opacity: 1;
      transition: all 1.2s ease-out; }
      section.fun .fun--container.-visible img.ide-left {
        transform: translateX(0%);
        transition-delay: 1s; }
      section.fun .fun--container.-visible img.ide-right {
        transform: translateX(0%);
        transition-delay: 1s; }
  @media only screen and (max-width: 480px) {
    section.fun {
      height: auto;
      background-size: 313px auto;
      background-position: center bottom -4px; } }
  section.fun .content {
    margin-top: 76px; }
    @media only screen and (max-width: 480px) {
      section.fun .content {
        margin-top: 32px;
        margin-bottom: 14px; } }
  section.fun img {
    margin-bottom: -79px; }
    @media only screen and (max-width: 480px) {
      section.fun img {
        width: 201px;
        margin-bottom: -26px; } }

section.modes {
  height: 1101px;
  background: #FF7400;
  background-image: url(../img/homepage/modes@2x.png), linear-gradient(-45deg, #FF7400 0%, #FF5F36 26%, #FF5B3F 30%, #FF2ABA 89%, #FF2ABB 89%, #FF21D1 100%);
  background-position: center bottom 22px, center center;
  background-repeat: no-repeat;
  background-size: 850px 812px, cover;
  padding: 0; }
  @media only screen and (max-width: 480px) {
    section.modes {
      height: auto;
      padding: 20px;
      background-image: linear-gradient(-135deg, #FF7400 0%, #FF5F36 26%, #FF5B3F 30%, #FF2ABA 89%, #FF2ABB 89%, #FF21D1 100%);
      background-size: cover;
      background-position: center; } }
  @media only screen and (max-width: 480px) {
    section.modes .content {
      margin-top: 8px; } }
  section.modes .modes--container {
    height: 753px;
    width: 693px;
    margin-bottom: 52px;
    display: flex;
    justify-content: center;
    position: relative; }
    @media only screen and (max-width: 480px) {
      section.modes .modes--container {
        width: 100%;
        height: auto;
        display: block;
        margin: 8px 0 2px 0; } }
    section.modes .modes--container .mode {
      width: 119px;
      height: 119px;
      background-color: #fff;
      border-radius: 59px;
      box-shadow: 0 5px 18px rgba(0, 0, 0, 0.31);
      box-sizing: border-box;
      padding: 0 21px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      transition: width .5s ease 0.2s;
      overflow: hidden;
      cursor: pointer;
      will-change: width; }
      @media only screen and (max-width: 480px) {
        section.modes .modes--container .mode {
          width: 100%;
          height: auto;
          border-radius: 26px;
          position: initial;
          margin-top: 16px;
          margin-bottom: 16px;
          padding: 16px 8px 16px 16px; } }
      @media only screen and (min-width: 1025px) {
        section.modes .modes--container .mode:hover {
          width: 496px;
          padding: 0 42px 0 21px;
          transition: width 0.5s ease; }
          section.modes .modes--container .mode:hover .mode--content {
            opacity: 1;
            transition: opacity 0.3s ease 0.5s; } }
      @media only screen and (min-width: 1025px) {
        section.modes .modes--container .mode.mode-arcade, section.modes .modes--container .mode.mode-bots {
          left: 50%;
          transform: translateX(-50%); } }
      section.modes .modes--container .mode.mode-bots {
        bottom: 0; }
      section.modes .modes--container .mode.mode-quiz {
        right: 0;
        top: 166px; }
      section.modes .modes--container .mode.mode-tournament {
        right: 0;
        top: 451px; }
      section.modes .modes--container .mode.mode-marathons {
        left: 0;
        top: 166px; }
      section.modes .modes--container .mode.mode-head-to-head {
        left: 0;
        top: 451px; }
        section.modes .modes--container .mode.mode-head-to-head img {
          height: 81px; }
      section.modes .modes--container .mode img {
        height: 80px;
        width: 77px; }
        @media only screen and (max-width: 480px) {
          section.modes .modes--container .mode img {
            height: 56px;
            width: 54px;
            align-self: flex-start; } }
    section.modes .modes--container .mode--content {
      margin-left: 24px;
      transition: opacity 0.3s ease; }
      @media only screen and (min-width: 1025px) {
        section.modes .modes--container .mode--content {
          opacity: 0; } }
      @media only screen and (max-width: 480px) {
        section.modes .modes--container .mode--content {
          margin-left: 12px; } }
    section.modes .modes--container .mode--title {
      color: #33485F;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      margin-top: 6px;
      display: inline-block; }
      @media only screen and (max-width: 480px) {
        section.modes .modes--container .mode--title {
          margin-top: 2px; } }
    section.modes .modes--container .mode--description {
      color: #8291A3;
      font-size: 1em;
      margin: 8px 0;
      line-height: 1.28em; }
      @media only screen and (max-width: 480px) {
        section.modes .modes--container .mode--description {
          font-size: 12px;
          line-height: 18px;
          margin: 8px 0 0 0; } }

section.languages {
  background-color: #EEEBF2; }
  @media only screen and (max-width: 480px) {
    section.languages {
      padding: 24px;
      display: none; } }
  @media only screen and (max-width: 480px) {
    section.languages .content {
      margin: 32px 0 24px 0; } }
  section.languages .languages--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  section.languages .language--row {
    display: flex;
    justify-content: space-between;
    flex: 1;
    height: 160px; }
    section.languages .language--row-short {
      margin-left: 89px;
      margin-right: 89px; }
  section.languages .language {
    display: flex;
    flex-direction: column;
    align-items: center; }
    section.languages .language .language--logo {
      width: 72px;
      height: 72px;
      background-color: #fff;
      border-radius: 50%;
      margin-bottom: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
      will-change: transform; }
      section.languages .language .language--logo:hover {
        transform: scale(1.4); }
      section.languages .language .language--logo img {
        height: 50px;
        width: 48px; }
    section.languages .language .language--title {
      font-weight: bold;
      color: #8291A3;
      line-height: 19px; }

section.jobs {
  background-size: 858px auto;
  background-repeat: no-repeat;
  background-position: top 80px center, bottom 32px center;
  background-color: #fff;
  padding: 0 0 64px 0; }
  @media only screen and (max-width: 480px) {
    section.jobs .content {
      margin: 32px 0;
      padding: 0 24px; } }
  section.jobs .jobs--container {
    width: 100%;
    position: relative;
    background-image: linear-gradient(43deg, #9E4FE0 0%, #404B97 100%);
    background-repeat: no-repeat; }
  section.jobs .quote {
    margin-top: 64px;
    text-align: center; }
    @media only screen and (max-width: 480px) {
      section.jobs .quote {
        margin-top: 32px;
        padding: 0 24px; } }
    section.jobs .quote--text {
      font-style: italic;
      font-size: 24px;
      line-height: 48px;
      color: #fff;
      position: relative;
      padding: 0 64px; }
      @media only screen and (max-width: 480px) {
        section.jobs .quote--text {
          font-size: 14px;
          line-height: 27px;
          padding: 0 24px; } }
      section.jobs .quote--text:before, section.jobs .quote--text:after {
        content: "";
        display: block;
        width: 52px;
        height: 40px;
        position: absolute;
        background-size: 100%;
        background-repeat: no-repeat; }
        @media only screen and (max-width: 480px) {
          section.jobs .quote--text:before, section.jobs .quote--text:after {
            width: 25px;
            height: 19px; } }
      section.jobs .quote--text:before {
        background-image: url(../img/miscellaneous/quote-open.svg);
        float: left;
        left: 0; }
      section.jobs .quote--text:after {
        background-image: url(../img/miscellaneous/quote-close.svg);
        float: right;
        right: 0;
        margin-top: -32px; }
    section.jobs .quote--author {
      font-size: 24px;
      line-height: 32px;
      font-weight: 300;
      color: #ccc;
      margin-top: 55px; }
      @media only screen and (max-width: 480px) {
        section.jobs .quote--author {
          font-size: 16px;
          line-height: 21px;
          margin-top: 20px; } }
      section.jobs .quote--author-company {
        font-weight: 700; }
  section.jobs .people {
    position: relative;
    top: 64px; }
    @media only screen and (max-width: 480px) {
      section.jobs .people {
        top: 21px;
        width: 100%;
        overflow-x: scroll; } }
    section.jobs .people--container {
      display: flex; }
      section.jobs .people--container .people--person {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 108px;
        width: 120px;
        cursor: pointer; }
        section.jobs .people--container .people--person .person--photo {
          border-radius: 50%;
          overflow: hidden;
          border: 4px solid #F2F2F2;
          transition: border-color 0.3s ease; }
          section.jobs .people--container .people--person .person--photo img {
            width: 72px;
            height: 72px;
            display: block;
            border-radius: 50%;
            filter: grayscale(100%);
            transition: filter 0.3s ease; }
            @media only screen and (max-width: 480px) {
              section.jobs .people--container .people--person .person--photo img {
                width: 56px;
                height: 56px; } }
        section.jobs .people--container .people--person.active .person--photo {
          margin-top: -2px;
          border: 6px solid #FFE345; }
          section.jobs .people--container .people--person.active .person--photo img {
            filter: grayscale(0%); }
        section.jobs .people--container .people--person:hover img {
          filter: grayscale(0%); }
        section.jobs .people--container .people--person .person--company {
          height: 22px;
          display: flex;
          flex-direction: column;
          justify-content: center; }

section.partners {
  padding-top: 88px; }
  @media only screen and (max-width: 480px) {
    section.partners {
      padding: 24px; } }
  section.partners .partners--container {
    width: 1154px;
    margin-bottom: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 480px) {
      section.partners .partners--container {
        margin-bottom: 8px;
        justify-content: center; } }
  section.partners .partner {
    margin: 12px 18px; }
    @media only screen and (max-width: 480px) {
      section.partners .partner {
        margin: 10px 4px; } }
    section.partners .partner img {
      width: 100%;
      display: block; }
    section.partners .partner.-dropbox {
      width: 102px;
      height: 24px;
      background-image: url(../img/partners/gray/dropbox@2x.png); }
      section.partners .partner.-dropbox:after {
        background-image: url(../img/partners/color/dropbox@2x.png); }
    section.partners .partner.-godaddy {
      width: 80px;
      height: 34px;
      background-image: url(../img/partners/gray/godaddy@2x.png); }
      section.partners .partner.-godaddy:after {
        background-image: url(../img/partners/color/godaddy@2x.png); }
    section.partners .partner.-instacart {
      width: 102px;
      height: 20px;
      background-image: url(../img/partners/gray/instacart@2x.png); }
      section.partners .partner.-instacart:after {
        background-image: url(../img/partners/color/instacart@2x.png); }
    section.partners .partner.-quora {
      width: 72px;
      height: 23px;
      background-image: url(../img/partners/gray/quora@2x.png); }
      section.partners .partner.-quora:after {
        background-image: url(../img/partners/color/quora@2x.png); }
    section.partners .partner.-thumbtack {
      width: 124px;
      height: 20px;
      background-image: url(../img/partners/gray/thumbtack@2x.png); }
      section.partners .partner.-thumbtack:after {
        background-image: url(../img/partners/color/thumbtack@2x.png); }
    section.partners .partner.-uber {
      width: 76px;
      height: 16px;
      background-image: url(../img/partners/gray/uber@2x.png); }
      section.partners .partner.-uber:after {
        background-image: url(../img/partners/color/uber@2x.png); }
    section.partners .partner.-meraki {
      width: 98px;
      height: 37px;
      margin-top: -8px;
      background-image: url(../img/partners/gray/meraki@2x.png); }
      section.partners .partner.-meraki:after {
        background-image: url(../img/partners/color/meraki@2x.png); }
    section.partners .partner.-optiver {
      width: 91px;
      height: 26px;
      background-image: url(../img/partners/gray/optiver@2x.png); }
      section.partners .partner.-optiver:after {
        background-image: url(../img/partners/color/optiver@2x.png); }
    section.partners .partner.-kik {
      width: 50px;
      height: 26px;
      background-image: url(../img/partners/gray/kik@2x.png); }
      section.partners .partner.-kik:after {
        background-image: url(../img/partners/color/kik@2x.png); }
    section.partners .partner.-evernote {
      width: 127px;
      height: 36px;
      background-image: url(../img/partners/gray/evernote@2x.png); }
      section.partners .partner.-evernote:after {
        background-image: url(../img/partners/color/evernote@2x.png); }
    section.partners .partner.-asana {
      width: 109px;
      height: 24px;
      background-image: url(../img/partners/gray/asana@2x.png); }
      section.partners .partner.-asana:after {
        background-image: url(../img/partners/color/asana@2x.png); }
    section.partners .partner.-mz {
      width: 39px;
      height: 24px;
      background-image: url(../img/partners/gray/mz@2x.png); }
      section.partners .partner.-mz:after {
        background-image: url(../img/partners/color/mz@2x.png); }
    section.partners .partner.-datto {
      width: 76px;
      height: 22px;
      background-image: url(../img/partners/gray/datto@2x.png); }
      section.partners .partner.-datto:after {
        background-image: url(../img/partners/color/datto@2x.png); }
    section.partners .partner.-jet {
      width: 48px;
      height: 20px;
      background-image: url(../img/partners/gray/jet@2x.png); }
      section.partners .partner.-jet:after {
        background-image: url(../img/partners/color/jet@2x.png); }
    section.partners .partner.-liveramp {
      width: 126px;
      height: 23px;
      background-image: url(../img/partners/gray/liveramp@2x.png); }
      section.partners .partner.-liveramp:after {
        background-image: url(../img/partners/color/liveramp@2x.png); }
    section.partners .partner.-twosigma {
      width: 152px;
      height: 31px;
      background-image: url(../img/partners/gray/twosigma@2x.png); }
      section.partners .partner.-twosigma:after {
        background-image: url(../img/partners/color/twosigma@2x.png); }
    section.partners .partner.-twitch {
      width: 75px;
      height: 25px;
      background-image: url(../img/partners/gray/twitch@2x.png); }
      section.partners .partner.-twitch:after {
        background-image: url(../img/partners/color/twitch@2x.png); }
    section.partners .partner.-venmo {
      width: 81px;
      height: 19px;
      background-image: url(../img/partners/gray/venmo@2x.png); }
      section.partners .partner.-venmo:after {
        background-image: url(../img/partners/color/venmo@2x.png); }
    section.partners .partner.-mixpanel {
      width: 92px;
      height: 30px;
      background-image: url(../img/partners/gray/mixpanel@2x.png); }
      section.partners .partner.-mixpanel:after {
        background-image: url(../img/partners/color/mixpanel@2x.png); }
    section.partners .partner.-planet {
      width: 80px;
      height: 40px;
      background-image: url(../img/partners/gray/planet@2x.png); }
      section.partners .partner.-planet:after {
        background-image: url(../img/partners/color/planet@2x.png); }
    section.partners .partner.-mesosphere {
      width: 147px;
      height: 21px;
      background-image: url(../img/partners/gray/mesosphere@2x.png); }
      section.partners .partner.-mesosphere:after {
        background-image: url(../img/partners/color/mesosphere@2x.png); }
    section.partners .partner.-palantir {
      width: 93px;
      height: 23px;
      background-image: url(../img/partners/gray/palantir@2x.png); }
      section.partners .partner.-palantir:after {
        background-image: url(../img/partners/color/palantir@2x.png); }
    section.partners .partner.-wizeline {
      width: 84px;
      height: 18px;
      background-image: url(../img/partners/gray/wizeline@2x.png); }
      section.partners .partner.-wizeline:after {
        background-image: url(../img/partners/color/wizeline@2x.png); }
    section.partners .partner.-transferwise {
      width: 135px;
      height: 24px;
      background-image: url(../img/partners/gray/transferwise@2x.png); }
      section.partners .partner.-transferwise:after {
        background-image: url(../img/partners/color/transferwise@2x.png); }
    section.partners .partner.-zoomer {
      width: 102px;
      height: 24px;
      background-image: url(../img/partners/gray/zoomer@2x.png); }
      section.partners .partner.-zoomer:after {
        background-image: url(../img/partners/color/zoomer@2x.png); }

footer {
  height: 70px;
  background-color: #33485F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  color: #fff;
  font-size: 16px;
  line-height: 21px; }
  @media only screen and (max-width: 480px) {
    footer {
      height: 174px;
      padding: 12px 24px;
      flex-direction: column-reverse;
      justify-content: space-around; } }
  @media only screen and (min-width: 1025px) {
    footer .footer--nav,
    footer .footer--copy {
      flex: 1; } }
  footer .footer--social {
    display: flex; }
    footer .footer--social .social-button {
      width: 32px;
      height: 32px;
      margin: 0 12px;
      display: block;
      transition: opacity 0.3s ease; }
      footer .footer--social .social-button.-email {
        background-image: url(../img/social/mail.svg); }
      footer .footer--social .social-button.-facebook {
        background-image: url(../img/social/facebook.svg); }
      footer .footer--social .social-button.-twitter {
        background-image: url(../img/social/twitter.svg); }
      footer .footer--social .social-button:hover {
        opacity: 0.8; }
  footer .footer--nav {
    text-align: right; }
    footer .footer--nav a {
      margin-left: 8px;
      text-transform: uppercase;
      color: #fff;
      transition: color 0.3s ease; }
      footer .footer--nav a:not(:last-child) {
        margin-right: 8px; }
      footer .footer--nav a:hover {
        color: #ccc; }
